# export LOTUS_JAEGER="localhost:6831"
export BELLMAN_CUSTOM_GPU="TITAN RTX:4608" 
# export RUST_LOG="info"
export FIL_PROOFS_PARAMETER_CACHE=/home/lanzafame/var/tmp/filecoin-proof-parameters/
export TMPDIR=/home/lanzafame/var/tmp/
